
$colorWhite: #fff;
$colorRed: #ff0000;
$colorBlack: #000;
$colorDarkRed: #8b0000;
$colorGray: 	#808080;
$font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


.searchForm {
    margin-bottom: 20px;
    padding: 20px;
    font-family: $font;
    border: 0.5px solid $colorRed;
    border-radius: 3.5px;
    box-shadow: 0px 2px 3px 0px $colorDarkRed;
    background: rgba(255, 255, 255, 0.8);

    h2{
        margin-bottom: 30px;
    }

    button {
        background-color: $colorDarkRed;
        color: $colorWhite;
    }

    select.custom-select, 
    .form-control {
        border-color: $colorGray;
        outline: 0;
        box-shadow: none;
    }

    option:focus {
        outline: $colorGray;
    }
}